<div class="col-md-4">
	<div class="card">
		<div class="card-block">
				<h3 class="card-title">Anayã Gimenes Ferreira</h3>
				<p>8066457</p>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="card">
		<div class="card-block">
				<h3 class="card-title">André Badawi Missaglia</h3>
				<p>8066523</p>
		</div>
	</div>
</div>
</div>
<div class="col-md-4">
	<div class="card">
		<div class="card-block">
				<h3 class="card-title">Matheus Henrique Soares</h3>
				<p>8066349</p>
		</div>
	</div>
</div>
</div>