<!DOCTYPE html>
<html ng-app="piadorApp">
  <head>
    <title>Piador - Import Backup</title>
    <style type="text/css">
      textarea { 
        width: 100%;
        height: 15em;
      }
    </style>
  </head>

  <body>
    <form method="POST" action="">
      <h1>Backup</h1>
      <p>Coloque aqui o JSON para importar os dados. Os dados anteriores serão apagados.</p>
      <div><button type="submit">Importar</button></div>
      <div><textarea name="import"></textarea></div>
    </form>
  </body>
</html>
