/*Global*/
h1, .lema{
	color:#FFF;
}
.lema{
	font-size: 1.5em;
	text-indent: 1em;
}
body{
	background: url('/images/lindo-passaro-azul-no-galho.jpg') fixed;
	padding-bottom: 54px;
}
main{
	padding-top: 15px;
	padding-bottom: 15px;
}
.main-container {
	background: white;
	padding-top: 10px;
}
.msg {
	padding:0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/*Home*/
.login-area{
	background: rgb(238,238,238);
	background: rgba(238,238,238,0.5);
	padding-bottom: 15px;
	padding-top: 10px;
}
/*Settings*/
.new-password-form{
	border: 1px solid black;
}
/*Profile*/
.profile {
	background-color: #CDCBCB;
	padding: 5px 20px 5px 20px;
	margin: 5px 5px 5px 0px;
}

.header-profile .description{
	text-align: justify;
}
.header-profile .image-area{
	text-align: center;
}

.navmenu {
	margin-left: 5px;
}

.comments {
	text-align: right;
}
.expand {
	width: 100%;
}
.miniprofile .description {
	text-align: justify;
	white-space: pre-line;
}
.miniprofile img {
	width: 100%;
}
.groups li {
	list-style: none;
}
.thumbnail {
	width:32px;
	height:32px;
}
/*Posts*/
.posts {
	background-color: #E3E3E3;
	padding: 5px 20px 5px 20px;
	margin: 5px 0px 5px 5px;
}
.post .author img {
	width: 64px;
	height: 64px;
}
.post .author a:first-child{
	text-decoration: none;
}
.post time {
	float: right;
	color: #999;
	font-size: 0.6em;
}
.post .content{
	clear: both;
	text-align: justify;
}
.post video {
	width: 100%;
}
.postContent {
	border: solid 1px;
	padding: 1px 10px;
}
.post .vote {
	text-align: right;
	color: #999;
}
.post .vote  button {
	width: 42px;
	height: 32px;
	border: 1px solid #DDD;
	border-radius:3px;
}
.post .up {
	background: url('/images/sticky-vote.png') no-repeat 0 0;
}
.post .down {
	background: url('/images/sticky-vote.png') no-repeat 0 -32px;
}
/*Friends*/
.follow-line{
	line-height: 2.5em;
}
.list-group{
	padding-bottom: 15px;
}