/*Global*/
h1, .lema{
	color:#FFF;
}
.lema{
	font-size: 1.5em;
	text-indent: 1em;
}
body{
	background: url('/images/lindo-passaro-azul-no-galho.jpg');
	padding-bottom: 54px;
}
main{
	padding-top: 15px;
	padding-bottom: 15px;
}
.main-container {
	background: white;
	padding-top: 10px;
}
.msg {
	padding:0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
/*Home*/
.login-area{
	background: rgb(238,238,238);
	background: rgba(238,238,238,0.5);
	padding-bottom: 15px;
	padding-top: 10px;
}
/*Settings*/
.new-password-form{
	border: 1px solid black;
}
/*Profile*/
.profile {
	background-color: #CDCBCB;
	padding: 5px 20px 5px 20px;
	margin: 5px 5px 5px 0px;
}

.header-profile .description{
	text-align: justify;
}
.header-profile .image-area{
	text-align: center;
}
.posts {
	background-color: #E3E3E3;
	padding: 5px 20px 5px 20px;
	margin: 5px 0px 5px 5px;
}

.navmenu {
	margin-left: 5px;
}

.comments {
	text-align: right;
}

.postContent {
	border: solid 1px;
	padding: 1px 10px;
}
.expand {
	width: 100%;
}
.miniprofile .description {
	text-align: justify;
	white-space: pre-line;
}
.thumbnail {
	width:32px;
	height:32px;
}
/*Friends*/
.follow-line{
	line-height: 2.5em;
}