/*Global*/
h1, .lema{
	color:#FFF;
}
.lema{
	font-size: 1.5em;
	text-indent: 1em;
}
body{
	background: url('/images/lindo-passaro-azul-no-galho.jpg');
	padding-bottom: 54px;
}
.main-container {
	background: white;
}
/*Home*/
.login-area{
	background: rgb(238,238,238);
	background: rgba(238,238,238,0.5);
}
/*Settings*/
.new-password-form{
	border: 1px solid black;
}
/*Profile*/
.profile {
	background-color: #CDCBCB;
	padding: 5px 20px 5px 20px;
	margin: 5px 5px 5px 0px;
}

.posts {
	background-color: #E3E3E3;
	padding: 5px 20px 5px 20px;
	margin: 5px 0px 5px 5px;
}

.navmenu {
	margin-left: 5px;
}

.comments {
	text-align: right;
}

.postContent {
	border: solid 1px;
	padding: 1px 10px;
}
.expand {
	width: 100%;
}
.miniprofile .description {
	text-align: justify;
	white-space: pre-line;
}
