<div class="card">
	<div class="card-block groups">
		<h3 class="card-title">Meus grupos</h3>
		<ul>
			<li ng-repeat="grupo in grupos">
				<a href="#/grupos/{{grupo.id}}">@{{grupo.nome}}</a>
			</li>
		</ul>
		<h4> Adicionar </h4>
		<messages></messages>
		<form ng-controller="NewGroupController">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Novo Grupo" ng-model="nome">
			</div>
			<button class="btn btn-primary" ng-click="add()">Novo</button>
		</form>
	</div>
</div>