<div class="col-md-6 col-md-offset-6 login-area">
	{{mensagem}}
	<form name="signupform">
		<div class="form-group">
			<label for="user_email">Email</label>
			<input type="email" class="form-control" id="user_email" required="required" ng-model="formdata.email"/>
		</div>
		<div class="form-group">
			<label for="user_nome">Nome</label>
			<input type="text" class="form-control" id="user_nome" required="required" ng-model="formdata.nome" />
		</div>
		<div class="form-group">
			<label for="user_nascimento">Nascimento</label>
			<input type="date" class="form-control" id="user_nascimento" required="required" ng-model="formdata.nascimento"/>
		</div>
		<div class="form-group">
			<label for="user_pass">Senha</label>
			<input type="password" class="form-control" id="user_pass" required="required" ng-model="formdata.senha"/>
		</div>
		<div class="form-group">
			<label for="user_pass2">Confirmar Senha</label>
			<input type="password" class="form-control" id="user_pass2" required="required" ng-model="formdata.senha2"/>
		</div>
		<button type="submit" class="btn btn-default" ng-click="cadastrar()" ng-disabled="!signupform.$valid">Cadastrar</button>
	</form>
</div>